Flask==2.2.2
Werkzeug==2.2.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.46
Flask-Bcrypt==1.0.1
psycopg2-binary==2.9.5
docker==6.0.1
gunicorn==20.1.0
requests==2.28.1
psutil==5.9.4
Flask-Cors==3.0.10
paramiko==3.4.0
qbittorrent-api==2024.5.63
beautifulsoup4==4.12.3